@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --animate-meteor-effect: meteor 5s linear infinite;

    --font-sans: "Roboto Flex", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Space Mono", ui-monospace, monospace;
    --font-pixel: "Pixelify Sans", sans-serif;

    @keyframes meteor {
        0% {
            transform: rotate(215deg) translateX(0);
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            transform: rotate(215deg) translateX(-500px);
            opacity: 0;
        }
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", ui-sans-serif, system-ui, sans-serif;
    scroll-behavior: smooth;
    @apply dark:bg-gray-900;
}

.pixeltext {
    font-family: "Pixelify Sans", sans-serif;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
}


@layer base {
    ::selection {
        @apply bg-black text-[#ffffff];
    }

    .dark ::selection {
        @apply bg-[#dcdcdc] text-black;
    }
}

#logo-name {
    font-family: "Space Mono";
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

* {
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: none !important;
}

@layer utilities {
    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .animate-blink {
        animation: blink 0.8s step-end infinite;
    }

    @keyframes arrow-cycle {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        50% {
          transform: translateX(15px);
          opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .animate-arrow-cycle {
        animation: arrow-cycle 1.5s infinite;
    }
}

.heading {
    background-image: linear-gradient(to right, rgb(199, 210, 254), rgb(17, 24, 39));
    border-radius: 1rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .heading {
        margin-bottom: 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    .heading {
        background-image: linear-gradient(to right, rgb(199, 210, 254), rgb(203, 213, 225));
    }
}